.filterbar,
#filtrosClose {
  display: none;
}

.ui.grid > .divided.row > .column {
  box-shadow: none;
}

.filtros {
  .row {
    padding-top: 0 !important;
  }

  ui.dropdown {
    z-index: 0;

    .menu {
      z-index: 10;
    }
  }

  .box-option {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    margin-bottom: 15px;
  }

  .ui.accordion {
    .title {
      font-weight: bold;
      font-size: 14px;
      color: #000;
      text-transform: uppercase;
      padding: 5px 0;
      text-indent: 15px;
      border-bottom: 0;

      &.active {
        border-bottom: 1px solid #dcdcdc;
      }

      .icon {
        display: none;
        float: right;
        margin-top: 3px;
      }

      > span {
        word-break: break-word;
        max-width: 120px;
        display: inline-block;
      }
    }
  }

  button.close {
    display: none;
  }
}

.filter-price {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 25px;

  li {
    padding: 0 4px;

    &:nth-child(1),
    &:nth-child(2) {
      width: 40%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    button {
      width: 100%;
      height: 38px;
      background: #45d2a2 !important;
      border: none;
      border-radius: 3px;
      margin-bottom: 0 !important;
      color: white;
      cursor: pointer;

      i {
        width: 100%;
        font-size: 26px;
      }
    }
  }
}

#filtroList {
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }

  .box-option {
    .content {
      .form {
        .field {
          button {
            width: 40px;
            height: 40px;
            padding: 0 !important;
            border-radius: 50px !important;
            border: 1px solid #dcdcdc !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            background-color: #fff;
            cursor: pointer;
            margin-bottom: 3px;

            &.checked {
              font-weight: bold !important;
            }
          }
        }
      }
    }
  }
}

#filtros {
  @media screen and (max-width: $mobile-bp) {
    &.ativo {
      #filtroList {
        display: block;
      }

      .button {
        &:before {
          color: red;
        }
      }
    }
  }

  .filterbar {
    @media screen and (max-width: $mobile-bp) {
      display: flex!important;
      width: 140px;
      border: 1px solid #dcdcdc;
      border-radius: 5px;
      margin-left: 15px;
      margin-bottom: 15px;
      position: relative;
      background-image: url(/assets/image/icones/filter.svg);
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: 90%;
    }

    h3 {
      @media screen and (max-width: $mobile-bp) {
        width: 100%;
        height: 35px;
        line-height: 35px;
        text-transform: uppercase;
        color: #000;
        padding: 0 15px;
      }
    }

    .content {
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
      border-bottom: 1px solid #dcdcdc;
      border-radius: 3px;
    }

    .button {
      @media screen and (max-width: $mobile-bp) {
        position: absolute;
        left: 0;
        height: 100%;
        background: initial;
        width: 100%;
        padding: 0;
        margin: 0;

        &:before {
          content: 'X';
          font-weight: bold;
          float: right;
          margin-right: -25px;
          font-size: 21px;
          margin-top: 9px;
          color: white;
        }

        i {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.groupList {
  .segment {
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 2em 0px;
    border-bottom: 5px solid $primary-color;

    .item {
      padding-left: 1.5em;
      color: #666666 !important;
      font-size: 16px;

      h3 {
        font-size: 16px;
        margin: 0;
        font-weight: normal;
      }
    }
  }
}
