﻿@model IEnumerable<DomainProduct.Entities.ProductImage>

<script>
    jQuery(document).ready(function ($) {
        slickGallery();
    });

    function checkImagesSize(imageQuantity) {
        var images = $(".car-gallery .ui.image").length;
        if (images >= imageQuantity) {
            return imageQuantity;
        } else {
            return images;
        }
    }

    function destroyCarousel() {
        $('.car-gallery').slick('destroy');
    }


    function slickGallery() {
        if ( $(document).width() > 768 ) {
            $('.car-gallery').slick({
                dots: false,
                vertical: true,
                arrows:true,
                slidesToShow: 6,
                infinite:false
            });
        } else {
            $('.car-gallery').slick({
                prevArrow: '<a class="slick-prev ui mini button basic black icon"><i class="chevron left icon"></i></a>',
                nextArrow: '<a class="slick-next ui mini button basic black icon"><i class="chevron right icon"></i></a>',
                dots: false,
                arrows:false,
                slidesToShow: 4,
                mobileFirst:true,
                useTransform:false,
                infinite:false
            });
        }
    }
</script>
<div class="car-gallery thumbnails slick-dotted">
    @foreach (var item in Model)
    {
        <a href="@(item.ImageHighResolution != null ? item.ImageHighResolution : "#" )" data-standard="@item.ImageDefault">
            @* HREF = Imagem ZOOMO / Data-starndard = Imagem Sem zoom*@
            <img @*src="/assets/image/img_default.png" data-*@src="@item.ImageDefault" onerror="imgError(this)" class="ui image small centered"/>
        </a>
    }
</div>
