﻿@model DomainProduct.Entities.ProductDetail
@{
    DomainProduct.Entities.Sku SKUPadrao = new DomainProduct.Entities.Sku();
    if (TempData["SKUPadrao"] != null)
    {
        SKUPadrao = (DomainProduct.Entities.Sku)TempData["SKUPadrao"];
    }
    string ListaImagens = string.Empty;
    string ListaSKU = string.Empty;
    string AvailableReferences = string.Empty;
    string variacaoSelecionada = string.Empty;
    string skuSelecionado = string.Empty;

    if (Model.ProductImages != null)
    {
        ListaImagens = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ProductImages);
    }

    if (Model.SKUs != null)
    {
        ListaSKU = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.SKUs);
    }

    if (Model.AvailableReferences != null)
    {
        AvailableReferences = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AvailableReferences);
    }

    if (Model.AvailableReferences != null && Model.AvailableReferences.Count > 0)
    {
        foreach (var referencias in Model.AvailableReferences.OrderBy(o => o.OrdinationOfReferences).ToList())
        {
            foreach (var variacoes in referencias.Variations)
            {
                if (SKUPadrao.Variations.FindAll(r => r.IdVariation == variacoes.IdVariation).Count > 0)
                {
                    var referencia_selecionada = SKUPadrao.Variations.FindAll(r => r.IdVariation == variacoes.IdVariation);
                    variacaoSelecionada += referencias.IdReference.ToString() + '-' + referencia_selecionada.FirstOrDefault().IdVariation.ToString() + ',';
                }
            }
        }

        string character = variacaoSelecionada.Substring(variacaoSelecionada.Length - 1);
        if (character == ",")
        {
            variacaoSelecionada = variacaoSelecionada.Remove(variacaoSelecionada.Length - 1);
        }
    }


    if (SKUPadrao.InstallmentMax == null)
    {
        SKUPadrao.InstallmentMax = new DomainProduct.Entities.InstallmentMax();
        SKUPadrao.InstallmentMax.MaxNumber = 0;
        SKUPadrao.InstallmentMax.Value = 0;
    }

    List<DomainProduct.Entities.ProductRating> lista_avaliacoes_completa = new List<DomainProduct.Entities.ProductRating>();
    if (Model.ProductRatings.Count > 5)
    {
        lista_avaliacoes_completa.AddRange(Model.ProductRatings);
        lista_avaliacoes_completa.RemoveRange(0, 5);
    }

    //GRADE ABERTA B2C
    var hasOpenSku = ViewBag.HasOpenSku != null ? ViewBag.HasOpenSku : false;

    //OneClickMaxiPago
    var useOneClickMaxiPago = ViewBag.UseOneClickMaxiPago != null ? ViewBag.UseOneClickMaxiPago : false;

    List<DomainProduct.Entities.ProductImage> productFirstReferenceImages = new List<DomainProduct.Entities.ProductImage>();
    List<DomainProduct.Entities.ProductImage> productImages = new List<DomainProduct.Entities.ProductImage>();
    var classSkus = "nine";

    if (hasOpenSku)
    {
        classSkus = Model.SKUs != null ? "seven" : "nine";
        productImages = Model.ProductImages;
    }
    else
    {
        if (Model.AvailableReferences != null)
        {
            foreach (var item in Model.ProductImages)
            {
                int flag = 0;
                if (item.Variacao_ids != null)
                {
                    for (int i = 0; i < item.Variacao_ids.Length; i++)
                    {
                        for (int j = 0; j < SKUPadrao.Variations.Count(); j++)
                        {
                            if (item.Variacao_ids[0] == SKUPadrao.Variations[j].IdVariation)
                            {
                                productFirstReferenceImages.Add(item);
                            }
                            if (item.Variacao_ids[i] == SKUPadrao.Variations[j].IdVariation)
                            {
                                flag++;
                            }
                        }
                    }
                }
                if (flag == SKUPadrao.Variations.Count())
                {
                    productImages.Add(item);
                }
            }

            if (productImages.Count == 0)
            {
                productImages = productFirstReferenceImages;
            }
            if (productImages.Count == 0)
            {
                productImages = Model.ProductImages;
            }
            if (productImages.Count == 0)
            {
                Model.ProductImages.RemoveAll(item => item.Variacao_ids == null);
            }
        }
        else
        {
            productImages = Model.ProductImages;
        }
    }
}

<script>
    var total_avaliacoes_produto = @(Model.ProductRatings != null ? Model.ProductRatings.Count : 0);
    var lista_avaliacao_produto = @(Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(lista_avaliacoes_completa)));
</script>
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumb.cshtml";
}

@section remarketing{
    <!-- Google Remarketing -->
    @Html.Action("GoogleRemarketing", "Common", new { origin = ViewContext.RouteData.Values["controller"] })
    <!-- End Google Remarketing -->
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.MetaDescription))
        {
            <meta name="Description" content="@Model.MetaDescription">
        }

        if (!String.IsNullOrEmpty(Model.MetaKeyWords))
        {
            <meta name="Keywords" content="@Model.MetaKeyWords">
        }
    }
}

@section breadcrumbs {
    <div class="ui container">
        <div class="column">
            <div class="ui breadcrumb">
                <a class="section" href=""></a>

                <!--COMEÇO FOREACH CATEGORIAS-->
                @if (Model.Categories != null)
                {
                    <a class="section" href="/">Home</a>
                    var categoriaDefault = Model.Categories.Find(c => c.Default == true);
                    if (categoriaDefault != null)
                    {
                        var urlCategoria = "";
                        foreach (var categoria in Model.Categories)
                        {
                            urlCategoria = urlCategoria + categoria.UrlFriendly.Replace("/categoria", "");
                        }

                        <i class="right angle icon divider"></i>
                        <a class="section" href="@string.Format("/categoria{0}", urlCategoria)">@categoriaDefault.Name</a>
                    }
                }
                <!-- FIM FOREACH CATEGORIAS-->
            </div>
        </div>
    </div>
}

<div id="fb-root"></div>

<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=656083874584141";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Posicione esta tag no cabeçalho ou imediatamente antes da tag de fechamento do corpo. -->
<script src="https://apis.google.com/js/platform.js" async defer>
    { lang: 'pt-BR' }
</script>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- COMEÇO - Váriaveis Produto Principal-->
<input type="hidden" id="produto-id" name="produto-id" value="@Model.IdProduct" />
<input type="hidden" id="produto-stock" name="produto-stock" value="@Model.Stock" />
<input type="hidden" id="produto-sku" name="produto-sku" value="@SKUPadrao.IdSku" />
<input type="hidden" id="produto-codigo" name="produto-codigo" value="@Model.Code" />
<input type="hidden" id="lista-imagens-slide" name="lista-imagens-slide" value="@ListaImagens" />
<input type="hidden" id="principal-total-variacoes" name="principal-total-variacoes" value="@(Model.AvailableReferences != null ? Model.AvailableReferences.Count() : 0) " />
<input type="hidden" id="principal-lista-sku" name="principal-lista-sku" value="@ListaSKU" />
<input type="hidden" id="principal-referencias-selecionadas" name="principal-referencias-selecionadas" value="@variacaoSelecionada" />
<input type="hidden" id="variacoesSelecionadas" value="" />
<!-- FIM - Váriaveis Produto Principal-->
<!-- COMEÇO - Váriaveis Produto Unitário-->
<input type="hidden" value="@Model.Price" id="preco-unidade" name="preco-unidade" />
<input type="hidden" value="@Model.PricePromotion" id="preco-promocao-unidade" name="preco-promocao-unidade" />
@if (Model.InstallmentMax != null)
{
    <input type="hidden" value="@Model.InstallmentMax.Value" id="parcela-maxima-unidade" name="parcela-maxima-unidade" />
    <input type="hidden" value="@Model.InstallmentMax.MaxNumber" id="qtd-parcela-maxima-unidade" name="qtd-parcela-maxima-unidade" />
    <input type="hidden" value="@Model.InstallmentMax.Description" id="pagamento-descricao" name="pagamento-descricao" />
}
<input type="hidden" value="@AvailableReferences" id="principal-produto-referecias" name="principal-produto-referecias" />
<input type="hidden" value="@ViewBag.DescontoBoleto" id="desconto_boleto" name="desconto_boleto" />
<!-- FIM - Váriaveis Produto Unitário-->
<div class="ui container" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="description" content="">
    <link itemprop="url" href="" rel="author" />
    <div class="ui grid stackable produto">
        <div class="row product information one column">

            <!-- COMEÇO MARCA MOBILE-->
            <div class="mobile only column">
                <h1 itemprop="name" class="nomeProduto" id="produto-nome">@Model.Name</h1>
                @if (Model.Brand != null)
                {
                    <h5 itemprop="productBrand" class="marcaProduto">@Model.Brand.Name</h5>
                }
                else
                {
                    <h5 itemprop="productBrand" class="marcaProduto"></h5>
                }
                <!-- FIM MARCA MOBILE-->
            </div>
        </div>


        <div class="row detalhes produto">
            <!-- FIM IMAGENS DO PRODUTO PRINCIPAL-->
            <div class="sixteen wide mobile @classSkus wide computer column" id="exibePartial">
                @Html.Partial("~/Views/Product/Details/_Slide.cshtml", productImages.ToList())
            </div>
            <!-- COMEÇO IMAGENS DO PRODUTO PRINCIPAL-->
            <div class="ui divider hidden"></div>
            <!-- COMEÇO INFORMAÇÕES DO PRODUTO-->
            <div class="sixteen wide mobile seven wide computer column infoProduto">
                <div class="ui grid">
                    <div class="mobile-hide row product information">
                        <div class="column">
                            <h1 itemprop="name" class="nomeProduto" id="produto-nome">@Model.Name</h1>
                            @if (@Model.Brand != null)
                            {
                                <h5 itemprop="productBrand" class="marcaProduto">@Model.Brand.Name</h5>
                            }
                            else
                            {
                                <h5 itemprop="productBrand" class="marcaProduto"></h5>
                            }
                        </div>
                    </div>

                    <!--COMEÇO DICA DE COMPRA-->
                    <div id="dica_compra_partial">
                        @Html.Action("BuyingTips", "Product", new { productID = @Model.IdProduct, skuID = SKUPadrao != null ? SKUPadrao.IdSku : 0 })
                    </div>
                    <!--FIM DICA DE COMPRA-->

                    <div class="row product-grid">
                        <div class="column blocoInfo">
                            <div class="ui grid middle aligned blocoValores">
                                @if (hasOpenSku && Model.SKUs != null && Session["EventList"] == null)
                                {
                                  @Html.Partial("~/Views/Product/Details/_GradeSkuB2B.cshtml", Model, new ViewDataDictionary { { "useOneCLick", useOneClickMaxiPago }, { "isB2B", false }, { "hasOpenSku", hasOpenSku } });
                                }
                                else
                                {
                                if (!Model.FlagExhausted)
                                {
                                  @Html.Action("Variations", "Product", new { reference = @Model.AvailableReferences, skuPadrao = @SKUPadrao, ListaSku = Model.SKUs })                                      
                                }

                                if (Model.IsKit)
                                {
                                  @Html.Partial("~/Views/Product/Details/_ProductsKit.cshtml", Model.KitProducts)
                                }

                                <div class="seven wide tablet five wide computer column left aligned padding-top no blocoQtd">
                                    <h5>Escolha quantidade:</h5>
                                    <div class="qtd input">
                                        <button class="qtdminus" id="qtdminus-detalhes">
                                            -
                                        </button>
                                        <input type="number" min="1" step="1" size="3" value="1"
                                                name="quantidade" id="quantidade" class="text center" />
                                        <button class="qtdplus" id="qtdplus-detalhes">
                                            +
                                        </button>
                                    </div>
                                </div>

                                <!--COMEÇO GRADE-->
                                <div class="eleveen wide tablet eight wide computer column padding-bottom no text segment left blocoPreco" itemprop="offers" id="block-price" itemscope="" itemtype="http://schema.org/Offer">
                                    <div id="variacao-preco">
                                        @if (Model.IsKit)
                                        {
                                            <div class="infoPrecoKit">
                                                <span class="display block">Sub-Total: @(string.Format("{0:c}", Model.KitProducts.Sum(m => m.PricePromotion)))</span>
                                                <span class="display block">Desconto do Kit: @(string.Format("{0:c}", Model.KitProducts.Sum(m => m.Discount)))</span>
                                            </div>
                                        }

                                        @if (Model.HaveSku)
                                        {
                                            if (SKUPadrao.PricePromotion != null && SKUPadrao.PricePromotion > 0)
                                            {
                                                decimal dec = (decimal)@SKUPadrao.PricePromotion;
                                                <span class="precoAntigo"><span>de: </span><span id="preco-antigo">@SKUPadrao.Price.ToString("C")</span><span> por</span></span>
                                                <span itemprop="price" class="preco" id="preco" data-preco-inicial="@dec">@dec.ToString("C")</span>
                                                <span class="infoPreco">
                                                    <span>em</span>
                                                    <span id="max-p">@SKUPadrao.InstallmentMax.MaxNumber<span>X de</span></span>
                                                    <span id="max-value">@SKUPadrao.InstallmentMax.Value.ToString("C")</span>
                                                    <span id="description">@string.Format("({0})", @SKUPadrao.InstallmentMax.Description)</span>
                                                    @if (ViewBag.DescontoBoleto > 0)
                                                    {
                                                        var valor_final = (dec - ((dec / 100) * ViewBag.DescontoBoleto));

                                                        <br />
                                                        <span>ou</span>
                                                        <span><span id="preco_boleto">@string.Format("R${0:0.00}", valor_final)</span>@string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                    }
                                                </span>
                                            }
                                            else
                                            {
                                                <span itemprop="price" class="preco" id="preco" data-preco-inicial="@SKUPadrao.Price">@SKUPadrao.Price.ToString("C")</span>
                                                <span class="infoPreco">
                                                    <span>em</span>
                                                    <span id="max-p">@SKUPadrao.InstallmentMax.MaxNumber<span>X de</span></span>
                                                    <span id="max-value">@SKUPadrao.InstallmentMax.Value.ToString("C")</span>
                                                    <span id="description">@string.Format("({0})", @SKUPadrao.InstallmentMax.Description)</span>
                                                    @if (ViewBag.DescontoBoleto > 0)
                                                    {
                                                        var valor_final = (SKUPadrao.Price - ((SKUPadrao.Price / 100) * ViewBag.DescontoBoleto));
                                                        <br />
                                                        <span>ou</span>
                                                        <span><span id="preco_boleto">@string.Format("R${0:0.00}", valor_final)</span>@string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                    }
                                                </span>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.PricePromotion != null && Model.PricePromotion > 0)
                                            {
                                                decimal dec = (decimal)@Model.PricePromotion;
                                                <span class="precoAntigo"><span>de: </span><span id="preco-antigo">@Model.Price.ToString("C")</span><span> por</span></span>
                                                <span itemprop="price" class="preco" id="preco" data-preco-inicial="@dec">@dec.ToString("C")</span>
                                                if (Model.InstallmentMax != null)
                                                {
                                                    <span class="infoPreco">
                                                        <span>em</span>
                                                        <span id="max-p">@Model.InstallmentMax.MaxNumber<span>X de</span></span>
                                                        <span id="max-value">@Model.InstallmentMax.Value.ToString("C")</span>
                                                        <span id="description">(@Model.InstallmentMax.Description)</span>
                                                        @if (ViewBag.DescontoBoleto > 0)
                                                        {
                                                            var valor_final = (dec - ((dec / 100) * ViewBag.DescontoBoleto));
                                                            <br />
                                                            <span>ou</span>
                                                            <span><span id="preco_boleto">@string.Format("R${0:0.00}", valor_final)</span>@string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                        }
                                                    </span>
                                                }
                                            }
                                            else
                                            {
                                                <span itemprop="price" class="preco" id="preco" data-preco-inicial="@Model.Price">@Model.Price.ToString("C")</span>
                                                if (Model.InstallmentMax != null)
                                                {
                                                    <span class="infoPreco">
                                                        <span>em</span>
                                                        <span id="max-p">@Model.InstallmentMax.MaxNumber<span>X de</span></span>
                                                        <span id="max-value">@Model.InstallmentMax.Value.ToString("C")</span>
                                                        <span id="description">(@Model.InstallmentMax.Description)</span>
                                                        @if (ViewBag.DescontoBoleto > 0)
                                                        {
                                                            var valor_final = (Model.Price - ((Model.Price / 100) * ViewBag.DescontoBoleto));
                                                            <br />
                                                            <span>ou</span>
                                                            <span><span id="preco_boleto">@string.Format("R${0:0.00}", valor_final)</span>@string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                        }
                                                    </span>
                                                }
                                            }
                                        }
                                    </div>

                                    @if (!string.IsNullOrEmpty(@Model.DescriptionAvailabilityStatus))
                                    {
                                        <p class="text color grey regular parcelamento small">@Model.DescriptionAvailabilityStatus</p>
                                    }
                                </div>
                                <!--FIM GRADE-->

                                <div class="sixteen wide tablet eight wide computer column btnComprar">
                                    <a class="@(Model.Stock == 0 || Model.FlagExhausted ? " disabled " : " ") detalhes @(Session["EventList"] !=null ? "btn-add-event-list" :"btn-comprar") @(Model.FlagExhausted || (Model.HaveSku && SKUPadrao.Stock == 0) || (Model.Stock == 0) ? "disabled action" : "action" )">

                                        @if (Model.FlagExhausted || (Model.HaveSku && SKUPadrao.Stock == 0) || (Model.Stock == 0))
                                        {
                                            <div class="visible content">
                                                PRODUTO ESGOTADO
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="visible content">
                                                @(Session["EventList"] != null ? "COMPRAR" : "COMPRAR")
                                            </div>
                                        }
                                    </a>
                                    <br />
                                    @if (useOneClickMaxiPago)
                                    {
                                        <a class="@(Model.Stock == 0 || Model.FlagExhausted ? " disabled " : " ") hideme ui button small animated basic detalhes btn-comprar-oneclick  @(Model.FlagExhausted || (Model.HaveSku && SKUPadrao.Stock == 0) || (Model.Stock == 0) ? " disabled" : "" )">
                                            <div class="visible content">Comprar com 1-Click</div>
                                            <div class="hidden content">
                                                <i class="add to cart icon"></i>
                                            </div>
                                        </a>
                                    }

                                    @{
                                        bool inlist = false;
                                        string color = "grey";

                                        if (ViewBag.InWishList)
                                        {
                                            inlist = true;
                                            color = "red";
                                        }
                                    }
                                    @{
                                        bool isb2b = Session["segment"] != null && Session["segment"].ToString() == "b2b" ? true : false;
                                        if (!isb2b)
                                        {
                                            <!--<div class="one column wishlistDetails">
                                                <div class="column">
                                                    <a href="#" class="wishlist-btn" data-wishlist-local="detail">
                                                        <i class="icon heart @color wishlist-item" data-in-list="@inlist" data-have-sku="@(Model.AvailableReferences != null && Model.AvailableReferences.Count() > 0 ? "true" : "false")" data-product-id="@Model.IdProduct"></i>
                                                        <span>Adicionar a Lista de Desejo</span>
                                                    </a>
                                                </div>
                                            </div>-->
                                        }
                                    }
                                </div>
                                }
                            </div>

                            <div class="ui grid">
                                <div class="sixteen wide tablet eight wide computer column">
                                    @if (!Model.FlagExhausted)
                                    {
                                        <div id="pagamento-calculado">
                                            @if (@Model.PricePromotion != null && @Model.PricePromotion > 0)
                                            {
                                                @Html.Action("Payment", "Product", new { valor = @Model.PricePromotion, flagExibir = Model.FlagExhausted == true || Model.Stock <= 0 ? false : true })
                                            }
                                            else
                                            {
                                                @Html.Action("Payment", "Product", new { valor = @Model.Price, flagExibir = Model.FlagExhausted == true || Model.Stock <= 0 ? false : true })
                                            }
                                        </div>
                                    }
                                </div>

                                <div class="sixteen wide tablet eight wide computer column">
                                    <div id="btn_medidas">
                                        <p>
                                            <img src="/assets/image/icones/ico-medidas.png" alt="Guia de Medidas" />
                                            <span>Guia de Medidas</span>
                                        </p>
                                    </div>
                                </div>
                            </div>


                            @if (Model.HaveSku)
                            {
                                if (!hasOpenSku)
                                {
                                    if (Model.FlagExhausted || SKUPadrao.Stock == 0)
                                    {
                                        @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", true)
                                    }
                                    else
                                    {
                                        @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", false)
                                    }
                                }
                            }
                            else
                            {
                                if (Model.FlagExhausted || Model.Stock == 0)
                                {
                                    @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", true)
                                }
                                else
                                {
                                    @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", false)
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM INFORMAÇÕES DO PRODUTO-->
        </div>

        <div class="ui divider hidden"></div>
        
        <!--COMEÇO DESCRIÇÃO-->
        <div class="ui container fluid box_description">
            <h2>Caracteristícas do Produto</h2>
            <div class="ui grid">
                <div class="sixteen wide tablet eight wide computer column box-1">
                    @Html.Raw(Model.DescriptionDetailSummary)
                </div>

                <div class="sixteen wide tablet eight wide computer column box-2">
                    @Html.Raw(@Model.DescriptionDetail)
                </div>
            </div>
        </div>
        <!-- FIM - DESCRIÇÃO -->

        @if (!Model.FlagExhausted && !hasOpenSku)
        {
            <div class="row" id="buy-together">
                @if (Model.BuyTogether != null && Model.BuyTogether.Count > 0 && Session["EventList"] == null)
                {
                    @Html.Partial("~/Views/Product/Details/_BuyTogether.cshtml", Model)
                }
            </div>
        }
        <div class="row" id="AlsoProducts">
            @if (Model.AlsoProductsPurchased != null && Model.AlsoProductsPurchased.Count > 0)
            {
                @Html.Partial("~/Views/Product/Details/_AlsoPurchased.cshtml", Model.AlsoProductsPurchased)
            }
        </div>
        <div class="row" id="RelatedProducts">
            @if (Model.RelatedProducts != null && Model.RelatedProducts.Count > 0)
            {
                @Html.Partial("~/Views/Product/Details/_RelatedProducts.cshtml", Model.RelatedProducts)
            }
        </div>


        @if (!Model.FlagExhausted || Session["EventList"] != null)
        {
            @Html.Partial("~/Views/Product/Details/_FloatingBar.cshtml", Model)
        }
    </div>
</div>

<div class="ui modal login">
    <i class="close icon"></i>
    <div class="header ui center aligned segment">Faça login ou cadastre-se para continuar</div>
    <div class="description">
        @Html.Action("LoginPartial", "Customer", new { _class = "modal-login", returnURL = Model.UrlFriendlyCustom != null ? $"/Customer/AutoAddProductInWishListBeforeLogin?redirectToPage={Model.UrlFriendlyCustom}" : $"/Customer/AutoAddProductInWishListBeforeLogin?redirectToPage={Model.UrlFriendly}" })
    </div>
</div>

<!-- POP UP -->
<div id="pop_up_guia">
    <span class="close">X FECHAR</span>
    <div class="content">
        
    </div>
</div>
<!-- FIM POP -->