﻿@{
    ViewBag.Title = "Error 500";
    Layout = "~/Views/Shared/Base/_LayoutErrors.cshtml";
}

<section>
    <div class="content">
        <h2>500</h2>
        <p>Estamos com problemas em<br> nossos servidores</p>
    </div>
    
    <div class="buttons">
        <a href="/">Voltar</a>
        <a href="">Contate-nos</a>
    </div>
</section>