﻿@model DomainCompany.Entities.CustomPageContent
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.TitlePage) ? Model.Name : Model.TitlePage;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.Metatag))
        {
            <meta name="Description" content="@Model.Metatag">
        }
    }
}

<div class="banner-custom">
    <img src="/assets/image/banners/banner-inst.jpg" alt="Página Institucional">
</div>


<div class="ui container institucional title">
    <div class="ui two column grid stackable middle aligned">
        <div class="row">
            <div class="column">
                <h1>@(Model != null ? Model.Name : "")</h1>
            </div>
        </div>
    </div>
</div>

<div class="ui container margin bottom large institucional content">
    <div class="ui grid">
        <div class="sixteen wide tablet ten wide computer column text">
                @Html.Raw(Model.Content)
        </div>

        <div class="sixteen wide tablet six wide computer column">
            <div class="box">
                <p class="title">Atendimento por telefone</p>
                <p>Nossos horários de atendimento são de segunda a sexta-feira das 09:00 às 18:00 (exceto feriados).</p>
                
                <ul> 
                    <li>
                        <p><strong>SP: </strong><a href="https://wa.me/5511950609891" target="_blank">(11) 95060-9891</a></p>
                    </li>

                    <li>
                        <p><strong>Email: </strong><a href="mailto:contato@loulle.com.br">contato@loulle.com.br</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>