﻿@{
    ViewBag.Title = string.IsNullOrEmpty(LojaCorp.Control.Company._Company.Title) ? LojaCorp.Control.Company._Company.NameStore : LojaCorp.Control.Company._Company.Title;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
@Html.Action("FullBanner", "Banner")

<!-- ~/Views/Shared/Blocks/Product/_FeaturedProducts.cshtml -->
<div class="featuredProducts prateleira">@Html.Action("FeaturedProducts", "Product")</div>

<!-- ~/Views/Shared/Blocks/_CentralHalfBanner.cshtml -->
@Html.Action("CentralHalfBanner", "Banner")

<!-- ~/Views/Shared/Blocks/Banner/_FooterHalfBanner.cshtml -->
@Html.Action("FooterHalfBanner", "Banner")

<!-- INSTAGRAM -->
<div class="ui container">
</div>
    <section class="box-instagram">
        <div class="title">
            <img src="/assets/image/logo/logo-insta.png" alt="Instagram" />
            <a href="https://www.instagram.com/loulle_shoes" target="_blank">loulle_shoes</a>
        </div>

        <div id="instafeed"></div>
    </section>