h1.nomeProduto {
    font-weight: 400;
    font-size: 23px;
    color: $black;
    padding-bottom: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #dcdcdc;
    text-transform: uppercase;
}

h6.codProduto {
    color: #888888;
    margin: 0px !important;
}

.produto {
    .box_description {
        background-color: #fbfbfb;
        padding: 20px;

        h2 {
            font-family: $font-secundaria;
            font-size: 44px;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

#btn_medidas {
    p {
        cursor: pointer;

        img {
            margin-bottom: -1px;
        }
    }
}

#pop_up_guia {
    width: 700px;
    height: 400px;
    position: fixed;
    background-color: white;
    z-index: 16;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -350px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms;

    @media screen and (max-width:$mobile-bp) {
        width: calc(100% - 20px);
        top: 10%;
        left: 10px;
        margin-top: 0;
        margin-left: 0;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }

    .close {
        float: right;
        margin-top: -33px;
        font-weight: bold;
        font-size: 18px;
        margin-right: -10px;
        color: white;
        cursor: pointer;
    }
}

.detalhes.produto {
    #exibePartial {
        .thumbs {
            @media screen and (max-width: $mobile-bp) {
                order: 2;
            }

            .car-gallery {
                a {
                    width: 66px;
                    height: 66px;
                    border: 1px solid #dcdcdc;
                    overflow: hidden;
                    margin-bottom: 8px;
                    display: block;

                    @media screen and (max-width: $mobile-bp) {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .slick-slide {

                }
            }
        }

        .img-principal {
            @media screen and (max-width: $mobile-bp) {
                order: 1;
            }

            .ui.image {
                width: 100%;

                .easyzoom {
                    width: 100%;

                    #imagem-padrao {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.infoProduto {
    #dica_compra_partial {
        @media screen and (max-width: $mobile-bp) {
            margin: 0 auto;
            display: table;
        }
    }


    .marcaProduto {
        color: #666;
        font-size: 14px;
    }

    .avaliacoes {
        color: #666;
        display: table;
        float: right;

        &:hover {
            cursor: pointer;
        }
    }

    .blocoInfo {
        @media screen and (max-width: $mobile-bp) {
            padding: 0;
        }

        h5 {
            font-size: 14px;
            font-weight: 400;
        }

        .linkRating {
            color: #666666;
            font-size: 12px;
        }

        .blocoValores {
            @media screen and (min-width: $mobile-bp) {
                padding: 0 1rem;
            }

            .segment {
                border: none;
                padding: 0;
            }

            .row {
                padding: 0.25rem 0 !important;
            }

            .blocoQtd {
                @media screen and (max-width: $mobile-bp) {
                    text-align: center;
                }

                button {
                    border-radius: 50px;
                    background-color: gray;
                    color: white;
                    border: none;
                    cursor: pointer;
                    width: 15px;
                    height: 15px;
                    text-align: center;
                    line-height: 15px;
                    padding: 0;
                    font-size: 15px;
                }

                input[type="number"] {
                    width: 50px;
                    height: 30px;
                    margin: 0 5px;
                    border-radius: 3px;
                    border: 1px solid #dcdcdc;
                }
            }

            .blocoPreco {
                @media screen and (max-width: $mobile-bp) {
                    text-align: left !important;
                }

                .precoAntigo {
                    clear: both;
                    color: #999;
                    font-size: 12px;
                    line-height: 18px;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                }

                .preco {
                    clear: both;
                    color: $black;
                    font-size: 20px;
                    line-height: 25px;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                }

                .disponibilidade {
                    margin: 5px 0 10px 0;
                    color: #666666;
                    font-size: 12px;

                    @media screen and (max-width: $mobile-bp) {
                        text-align: center !important;
                    }
                }

                .infoPreco {
                    clear: both;
                    color: #999;
                    font-size: 14px;
                    line-height: 18px;

                    @media screen and (max-width: $mobile-bp) {
                        font-size:11px;
                    }

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }

                    .descontoBoleto {
                        color: $ascent-1-color;
                        font-weight: 700;
                    }
                }
            }

            .btnComprar {
                @media screen and (max-width: $mobile-bp) {
                    text-align: center !important;
                }

                a {
                    width: 260px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    display: block;
                    margin: 0;
                    background: #0caba2;
                    color: white;
                    font-size: 28px;
                    letter-spacing: 2px;
                    font-weight: 300;
                    text-transform: uppercase;
                    cursor: pointer;

                    @media screen and (max-width: $mobile-bp) {
                        width:100%;
                    }

                    .content {
                        font-size: 0;

                        &:before {
                            content: 'COMPRAR';
                            font-size: 28px;
                            width: 100%;
                            display: block;

                            @media screen and (max-width: $mobile-bp) {
                                font-size:22px;
                            }
                        }
                    }
                }

                .btn-comprar-oneclick {
                    margin-top: 20px;
                    font-size: .92857143rem;
                    font-weight: normal;
                }
            }
        }
    }
}

#avise_me {
    margin-top: 42px;
    text-align: center;
    color: #000;
    padding: 0;
    border: none!important;
    box-shadow: none!important;

    a.avise-me-modal {
        background-color: #fff!important;
        color: #909090!important;
        border: 1px solid #909090!important;
    }
}

.produtos.compre.junto {
    .item.buy-together {
        clear: both;

        .image {
            width: 300px;
        }
    }
}

.skulist {
    padding: 0!important;

    @media screen and (max-width:$mobile-bp) {
        text-align:center;
    }

    .variacao-radio {
        width: 40px;
        height: 40px;
        padding: 0!important;
        border-radius: 50px!important;
        border: 1px solid #dcdcdc!important;
        box-shadow: none!important;
        background-color: #fff;
        margin-bottom:3px;
        cursor: pointer;

        &.selecionado {
            font-weight: bold!important;
        }

        &.disabled {
            pointer-events: none;
            background-color:#b6b6b6 !important;
            color:#fff;
        }
    }
}

.product-button {
    position: absolute;
    right: 10px;
    top: 10px;

    a {
        display: block !important;
        margin-bottom: 10px !important;
    }
}

.product-gris {
    padding: 0;
}

.product-tags {
    bottom: 10px;
    left: 10px;
    position: absolute;
    width: 70%;

    .tag {
        margin-left: 1.5em !important;
    }
}

.border.bottom.grey:not(.inverted) {
    border-bottom: 5px solid #DDDDDD;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0 !important;
    border-top: 1px solid #d4d4d5 !important;
}

.ui.segment.grey.formas-pagamento {
    border-bottom: 5px solid #DDDDDD;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0 !important;
    border-top: 1px solid #d4d4d5 !important;

    .accordion {
        .title {
            color: #666666;
            text-transform: uppercase;
            font-size: 12px;
        }

        .ui.list {
            padding-left: 2.2em;
        }
    }
}


.ui.grid.segment {
    padding: 10px 0px !important;
}

.ui.segment {

    &.yellow,
    &.grey {

        .ui.form .fields {
            margin: 0px !important;
        }
    }
}

.ui.ribbon {
    z-index: 5;
}

.produtos.compre.junto {
    >.item {

        .content {}

        .extra {
            width: auto !important;
        }
    }
}

.variacao {

    &.cor {
        height: 35px;
        width: 35px;
    }

    &.selecionado {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, .35) !important;
    }
}

.product {

    &.information {

        .marcaProduto {
            margin: 0px !important;
        }

        &.row {
            padding-bottom: .1rem !important;
        }

        .column {
            padding-bottom: .3rem !important;
            padding-top: 0.3rem !important;
        }
    }
}

.produto {
    &.detalhes {
        &.row {
            padding-top: 0px !important;
        }
    }
}


#pagamento-calculado {
    .formas-pagamento {
        border: none;
        box-shadow: none;
        padding: 0;

        .accordion {
            .title {
                padding: 0;

                img {
                    margin-bottom: -2px;
                }
            }

            .content {
                padding: 0;
            }
        }
    }
}

.fb-share-button {
    display: block;
    float: left;
    margin-right: 3px;
}


.menu.tabular {
    .item {
        color: #999 !important;
        text-transform: uppercase;

        &.active {
            color: $black !important;
        }
    }
}

.product-b2b {
    .preco {
        font-size: 20px !important;
        line-height: 20px !important;
    }

    .precoAntigo i {
        text-decoration: line-through;
    }

    .ui.form .field>.button {
        margin-bottom: 0px;
    }
}

#buy-together,
#AlsoProducts,
#RelatedProducts {
    .divider {
        width: 100%;
        font-size: 44px;
        font-weight: 300;
        font-family: $font-secundaria;
        margin-bottom: 30px;

        @media screen and (max-width:$mobile-bp) {
            font-size:27px;
        }

        &:after,
        &:before {
            display: none;
        }
    }
}

#buy-together {

    .row {
        &.horizontal {
            &.divided {
                background: #fff;
            }
        }
    }

    a {
        font-weight: bold;
        font-size: 14px;
        color: #666666;
    }

    .ui.attached.segment {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .ui.table {
        border: 1px solid #eee;
        color: #666666;
        border-radius: 0 !important;
        margin-top: 135px;

        strong {
            color: #000;
        }

        thead th {
            background-color: #999999;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            border-radius: 0 !important;
        }
    }

    #price-buy-together,
    h4 {
        color: $black;
        font-size: 20px;
        line-height: 25px;
    }

    #btn_comprejunto {
        i {
            opacity: 1 !important;
        }
    }
}



#AlsoProducts {
    margin-top: 60px;

    >.ui {
        &.container {
            @media screen and (max-width: $mobile-bp) {
                margin: 25px auto 0 auto !important;
            }
        }
    }
}

#RelatedProducts {
    >.ui {
        &.container {
            @media screen and (max-width: $mobile-bp) {
                margin: 25px auto 0 auto !important;
            }
        }
    }
}




.ui.items:not(.unstackable)>.item>.image>a>img {
    @media screen and (max-width: $mobile-bp) {
        max-width: 100% !important;
        width: auto !important;
        max-height: 250px !important;
    }
}

.ui.list>div>.item {
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: 0.21428571em 0em;
    line-height: 1.14285714em;
}

.kit-product {

    .blocoKit {

        h5 {
            font-size: 16px;
            color: #262626;
        }

        .infoKit {
            text-align: right;

            .nameProduct {
                font-size: 16px;
                color: #262626;
                font-weight: 700;
            }

            .valores {
                color: #767676;
                margin: 5px 0 10px;

                .valorDe {
                    font-size: 11px;
                    text-decoration: line-through;
                }

                .valorPor {
                    color: #2980b9;
                    font-size: 20px;
                }

                .kit {
                    font-size: 11px;
                }
            }

            .variacao {
                color: #767676;
                font-size: 14px;
            }

            .quantidade {
                color: #767676;
                font-size: 14px;
            }
        }
    }
}

.infoPrecoKit {
    color: #999;
    font-size: 14px;
}

.wishlistDetails {
    margin-top: 20px;

    i {
        font-size: 22px;
        color: #666 !important;
    }

    span {
        color: #666 !important;
    }
}

.simulador-frete {
    border-bottom: 5px solid #ddd !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-top: 1px solid #d4d4d5 !important;

    &.ui.attached.segment {
        padding: 0.5em 1em 1.5em;
    }

    span {
        color: #000;
        font-weight: 700;
    }

    table {
        thead {
            tr {
                th {
                    padding: 5px 5px 15px !important;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 15px 5px !important;
                    font-weight: normal !important;
                }
            }
        }
    }
}