.car-banners {
	.container {
		position:relative;
		.description {
			width: 30%;
			height: 100%;
			top: 0;
			bottom: 0;
			position: absolute;
			background: rgba(255,255,255,.5);
			display: none;

			.html {
				flex-direction: column;
				vertical-align: middle;
				align-self: center !important;
				width:100%;
				text-align: center;
			}
		}
	}

	.slick-dots{
		padding-left: 0px;
	}
}

.centralHalf {
	margin-top: 60px;

	ul {
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		list-style: none;

		@media screen and (max-width:$mobile-bp) {
			flex-direction: column;
		}
	}
}

.footerHalf {
	margin: 60px 0;

	ul {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;

		@media screen and (min-width:$mobile-bp) {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
		}

		li {
			width: 33.3%;

			@media screen and (max-width:$mobile-bp) {
				width: 100%;
			}

			.ui.image,
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
