.prateleira {
    &.featuredProducts {
        .divider {
            display: none!important;
        }

        .content{

            a{
                border: none !important;
            }
        }
    }
}