footer {
	border-top: 8px solid black;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin-bottom: 8px;
		}
	}

	.row-1 {
		text-transform: uppercase;

		.title {
			font-weight: bold;
			font-size: 14px;
		}

		.redes {
			display: flex;

			li {
				margin-right: 10px;
			}
		}

		.custompages {
			.column {
				padding-top: 0!important;
			}
		}

		.newsletter {
			p {
				strong {
					display: block;
				}
			}
			
			.form {
				input {
					border-radius: 0;
					border-color: gray;
					margin-bottom: 10px;
				}

				button {
					float: right;
					width: 150px;
					height: 40px;
					line-height: 40px;
					text-transform: uppercase;
					color: white;
					border: none;
					background: black;
					cursor: pointer;
					letter-spacing: 1px;
				}
			}
		}
	}

	.row-2 {
		.title {
			font-size: 14;
			font-weight: 400;
			text-transform: uppercase;
		}

		ul {
			display: flex;
			flex-direction: row;

			li {
				&:first-child {
					margin-right: 20px;
				}

				a {
					display: block;
					height: 50px;
					line-height: 50px;
				}
			}
		}

		.bandeiras {
			li {
				width: 70px;
				height: 40px;
				padding: 5px;
				border-radius: 4px;
				box-shadow: 2px 2px 0px 1px #dcdcdc;
				background-color: white;
				margin-right: 10px!important;

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.row-3 {
		font-size: 13px;
		padding: 10px 0!important;

		.column {
			@media screen and (max-width:$mobile-bp) {
				text-align: center!important;
			}
		}
	}
}