﻿@model DomainProduct.Settings

@{int _maxPagination = Request.Browser.IsMobileDevice ? 1 : 3;}

<div class="paginacao menu" data-teste="@Request.Browser.IsMobileDevice">
  <a id="previousPage" class="@(Model.HasPreviousPage ? "" : "disabled") item" href="#" data-number="@(@Model.PageNumber - 1)">
    <p>Primeira</p>
    <i class="angle left icon"></i>
  </a>

  @for (int i = 1; i <= Model.PageCount; i++)
  {
    if ((Model.PageCount <= _maxPagination) || (Model.PageCount > _maxPagination && (i >= Model.PageNumber - _maxPagination && i <= Model.PageNumber + _maxPagination)))
    {
      <a class="@((i) == Model.PageNumber ? "active" : "") btnPageNumber item" data-number="@(i)" href="#">
        @(i)
      </a>
    }
  }

  <a id="nextPage" class="@(Model.HasNextPage ? "" : "disabled") item" href="#" data-number="@(@Model.PageNumber + 1)">
    <i class="angle right icon"></i>
    <p>Última</p>
  </a>
</div>