﻿@model IList<DomainCompany.Entities.Banner>
@if (Model != null && Model.Any())
{
    <div class="ui container centralHalf">
        <ul>
            @foreach (var banner in Model)
            {
                <li>
                    <a href="@banner.Link" class="ui image" title="@banner.Name">
                        <img src="/assets/image/loading.svg" data-src="@banner.NameFileImage" alt="@banner.Name" title="@banner.Name" class="margin none ui image">
                    </a>
                </li>
            }
        </ul>
    </div>
}