header {
    position: relative;
    background-color: white;
    z-index: 10;
    padding: 15px 0 10px;

    @media screen and (min-width:$mobile-bp) {
        position: fixed;
        width: 100%;
        top: 0;
    }

    @media screen and (max-width:$mobile-bp) {
        .row-1 {order:2;}
        .row-2 {order:1;}
        .row-3 {order:3;}

        .mobile-sub {
            padding-top: 14px;
        }
    }

    .login-mob {
        display: none;

        @media screen and (max-width:$mobile-bp) {
            display: flex;
            padding: 15px 20px;
            background: #292929;
            color: white;
            font-size: 22px;
            align-items: center;
            margin-top: 20px;

            svg {
                margin-right: 20px;
            }

            span {
                height: 100%;
                display: inline-block;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .row-1 {
        .desktop {
            @media screen and (max-width:$mobile-bp) {
                display: none!important;
            }
        }

        .mobile {
            display: none!important;

            @media screen and (max-width:$mobile-bp) {
                display: block!important;
            }
        }
    }

    .row-2 {
        .animated-arrow {
            top:46px;
        }
    }

    .icones {
        ul {
            display: flex;
            justify-content: space-between;
            padding-top: 27px;

            @media screen and (max-width:$mobile-bp) {
                justify-content: space-between;
                padding-top: 48px;

                li {
                    &.busca-mob{
                        margin-right: 10px;

                        .btn_busca{
                            img{
                                width: 22px !important;
                                height: 22px !important;
                            }
                        }
                    }

                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }

        #cartButton {
            margin: 0;

            .bag {
                position: relative;

                @media screen and (max-width:$mobile-bp) {
                    svg{
                        width: 22px !important;
                        height: 22px !important;
                    }
                }

                a {
                    background: red;
                    color: white;
                    width: 15px;
                    height: 15px;
                    display: block;
                    border-radius: 50px;
                    font-size: 12px;
                    position: absolute;
                    bottom: -4px;
                    right: 0;
                    font-weight: 300;

                    @media screen and (max-width:$mobile-bp) {
                        background-color: red;
                        width: 14px;
                        height: 14px;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$mobile-bp) {
    header .row-2 .animated-arrow {
        top:0!important;
    }

    header .icones ul {
        padding-top: 0!important;
    }

    header .row_1 {
        padding-top: 10px!important;
    }
}

#busca {
    position: fixed;
    top: 115px;
    width: 100% !important;
    background-color: white;
    opacity: 0;
    display: none;

    @media screen and (max-width:$mobile-bp) {
        position: absolute;
    }

    &.active {
        opacity: 1;
        display: block;
        z-index: 12;
    }

    &.strong {
        opacity: 1;
        visibility: visible;
        z-index: 12;
    }

    .searchcolumn {
        input[type="text"] {
            width: 95% !important;
            font-size: 48px;
            border-radius: 0;
            border: none;
            font-family:$font-secundaria;
            font-weight: 400;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 33px;
            border-radius: 0;
            border: none;
            text-transform: uppercase;

            @media screen and (max-width:$mobile-bp) {
                padding: 10px 0;
            }

            & + span {
                width: 5%;
                display: flex;
                align-items: center;
                font-size: 44px;
                cursor: pointer;

                @media screen and (max-width: $mobile-bp) {
                    font-size: 28px;
                }
            }
        }
    }
}
