@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

.topbar {
    height: 30px;
    padding: 5px auto 0;
    background-color: #EBEBEB;
    color: black;
    z-index: 200;
    position: fixed;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

    .topbar-desk{
        @media screen and (max-width:$mobile-bp){
             display: none !important;
        }
    }

    .topbar-mob{
        display: none;
        height: 30px;

        @media screen and (max-width:$mobile-bp){
             display: flex;
             width: 100%;

             p{
                 text-align: center !important;
                 margin-top: 5px;

                 &.whats{
                     font-weight: 900;

                     span{
                         background-color: black;
                         border-radius: 20px;
                         padding: 2.5px 10px;
                         -webkit-text-fill-color: #fff;
                     }
                 }
             }
        }
    }

    .row {
        padding: 5px 0!important;

        .column {
            text-transform: uppercase;
            text-align: center;

            &:nth-child(2) {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            &:nth-child(3) {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            &:nth-child(4) {
                letter-spacing: 1px;
            }

            p{
                font-size: 13px;

                &.whats{
                    font-weight: 700;

                    span{
                        background-color: black;
                        border-radius: 20px;
                        padding: 3px 10px;
                    }
                }
            }
        }
    }
}
