.errors {
    section {
        .content {
            height: 540px;
            background-image: url(/assets/image/error/bg-error.jpg);
            background-repeat: no-repeat;
            background-position: center;
            color:white;
            display: flex;
            text-align: center;
            flex-direction: column;
            vertical-align: center;
            justify-content: center;
            font-family: $font-secundaria;

            @media screen and (max-width:$mobile-bp) {
                height: 400px;
                background-size:100%;
            }

            h2 {
                font-size: 180px;
                font-weight: 300;
                line-height: 150px;
                
                @media screen and (max-width:$mobile-bp) {
                    font-size: 90px;
                    line-height: 80px;
                }
            }

            p {
                font-size: 22px;
                text-transform: uppercase;
                line-height: 24px;

                @media screen and (max-width:$mobile-bp) {
                    font-size: 14px;
                    line-height:14px;
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: center;

            @media screen and (max-width:$mobile-bp) {
                flex-direction: column;
            }

            a {
                width: 220px;
                display: inline-block;
                margin: 0 15px;
                height: 45px;
                line-height: 45px;
                border: 1px solid black;
                text-align: center;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 2px;

                @media screen and (max-width:$mobile-bp) {
                    width: 100%;
                    margin: 0 0 10px 0;
                }

                &:nth-child(2) {
                    background-color: #636363;
                    color: white;
                    border: 1px solid #636363;
                }
            }
        }
    }
}