﻿@model List<DomainCompany.Entities.CustomPage>

@foreach (var itemTitle in Model)
{
    <div class="eight wide tablet eight wide computer column">
        <p class="title">@itemTitle.Name</p>
        <ul>
            @foreach (var itemPage in itemTitle.CustomPagesContent)
            {
                <li>
                    <a href="/institucional/@itemTitle.IdCustomPage/@itemPage.IdCustomPageContent" class="item" title="@itemPage.Name">@itemPage.Name</a>
                </li>
            }
            @if (@itemTitle.Name == "INFORMAÇÕES")
            {
                <li>
                    <a href="/customer" title="Cadastro">Cadastro</a>
                </li>

                <li>
                    <a href="/customer" title="Meus Pedidos">Meus Pedidos</a>
                </li>

                <li>
                    <a href="@Url.Action("CommonQuestions", "Company")" class="item" title="Dúvidas Frequentes">Dúvidas Frequentes</a>
                </li>
            }
        </ul>
    </div>
}

<div class="sixteen wide tablet sixteen wide computer column">
    <ul class="redes">
        <li>
            <a href="https://www.facebook.com/loulleshoes/" target="_blank"><img src="/assets/image/logo/ico-facebook.png" alt="Facebook" /></a>
        </li>

        <li>
            <a href="https://www.instagram.com/loulle_shoes" target="_blank"><img src="/assets/image/logo/ico-instagram.png" alt="Instagram" /></a>
        </li>

        <li>
            <a href="https://wa.me/5511950609891" target="_blank"><img  src="/assets/image/logo/ico-whatsapp.png" alt="Whats App" /></a>
        </li>
    </ul>
</div>