﻿@model List<DomainProduct.Entities.Category>

<div class="ui container fluid menuheader">
  <div class="overlapblackbg"></div>
  <div class="ui container">
    <div class="wsmobileheader clearfix">
      <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
    </div>
    <div class="wsmain">
      <nav class="wsmenu">
        <ul class="mobile-sub wsmenu-list ui menu">
          @foreach (DomainProduct.Entities.Category category in Model)
          {
            if (category.Level.Length == 2)
            {
              <li>
                <a href="@category.UrlFriendly" class="item" title="@category.Name">
                  @category.Name
                  @if (category.ChildCategories != null && category.ChildCategories.Any())
                  {
                    <i class="dropdown icon"></i>
                  }
                </a>
                @if (category.ChildCategories != null && category.ChildCategories.Any())
                {
                  <div class="megamenu clearfix">
                    <div class="ui grid">
                      <div class="row">
                        <div class="@(category.Image == null ? "sixteen wide computer column" : "fifteen wide mobile twelve wide tablet twelve wide computer column")">
                          <div class="ui grid three column">
                            @if (category.ChildCategories != null && category.ChildCategories.Any())
                            {
                              foreach (DomainProduct.Entities.Category subCategoryLevel1 in category.ChildCategories)
                              {
                                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                  <div class="ui list relaxed">
                                    <a href="@subCategoryLevel1.UrlFriendly" title="@subCategoryLevel1.Name">@subCategoryLevel1.Name</a>
                                    @if (subCategoryLevel1.ChildCategories != null && subCategoryLevel1.ChildCategories.Any())
                                    {
                                      <div class="ui divider"></div>
                                      foreach (var subCategoryLevel2 in subCategoryLevel1.ChildCategories)
                                      {
                                        <a class="item" href="@subCategoryLevel2.UrlFriendly" title="@subCategoryLevel2.Name">@subCategoryLevel2.Name</a>
                                      }
                                    }
                                  </div>
                                </div>
                              }
                            }
                          </div>
                        </div>
                        @if (category.Image != null)
                        {
                          <div class="four wide tablet four wide computer column mobile-hide">
                            @{
                              string linkCategoriaImagem = null;
                              if (category.Link != null)
                              {
                                linkCategoriaImagem = category.Link.Contains("http") || category.Link.Contains("https") ?  category.Link : "http://" + category.Link;
                              }
                              else
                              {
                                linkCategoriaImagem = @category.UrlFriendly;
                              }
                            }
                            <a href="@linkCategoriaImagem" alt="@category.Image" title="@category.Name">
                              <img class="ui image" src="@category.Image" alt="@category.Name" title="@category.Name" />
                            </a>
                          </div>
                        }

                      </div>
                    </div>
                  </div>
                }
              </li>
            }
            else
            {
              <li>
                <a class="item" href="~/category/index/@category.IdCategory" title="@category.Name"><span>@category.Name</span></a>
              </li>
            }
          }
        </ul>
        <a href="/customer" class="login-mob mobile only">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;width: 30px;height: 29px;" xml:space="preserve" width="512px" height="512px"><g><g><path d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148 C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962 c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216 h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40 c59.551,0,108,48.448,108,108S315.551,256,256,256z" fill="#9fb6df"></path></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          <span>LOGIN</span>
        </a>
      </nav>
    </div>
  </div>
</div>
