﻿<!--<section class="topbar">
    <div class="ui container">
        <div class="ui grid">
            <div class="three column row">
                <div class="column">
                    <p>Compre em até 3x sem juros</p>
                </div>

                <div class="column">
                    <p>Frete grátis para compras a cima de R$200,00</p>
                </div>

                <div class="column">
                    <p>Troca   Grátis</p>
                </div>
            </div>
        </div>
    </div>
</section>-->